<h1 class="display-3 text-center">Cars</h1>

<%= render 'form' %>
 <div class="form-group row justify-content-center">
<p>
<%= link_to 'All Cars', cars_path, class: "btn btn-outline-info text-white" %>
</p>
</div>