<%= render 'pages/navigation' %>
<h1 class="display-3 text-center text-white">Create new Car</h1>
<br/>
<br/>

<%= render 'form' %>

<div class="form-group row justify-content-center">
  <%= link_to 'Cancel and return', cars_path, class: "btn btn-outline-warning mt-4"%>
</div>